@model MPersonne;

<h1 class ="titreMain">Créer une entrée</h1>

<form asp-action="Ajouter">
    <div>
        <label asp-for="nomPersonne">Nom</label>
        <input asp-for="nomPersonne" />
    </div>
    <div>
        <label asp-for="prenomPersonne">Prénom</label>
        <input asp-for="prenomPersonne" />
    </div>
    <div>
        <label asp-for="mdp">MDP</label>
        <input asp-for="mdp" />
    </div>
    <div>
        <input type="submit" value="Ajouter" class="btn btn-primary" />
    </div>
</form>