@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<span>La suppression s'est bien passée</span>
<a class="nav-link text-dark" asp-area="" asp-controller="Personne" asp-action="Personne">Cliquer ici pour revenir à l'écran précédent</a>